<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="insert" method="post">
<input type="number" placeholder="Enter id" name="sid">
<input type="text" placeholder="Enter name" name="sname">
<button>Submit</button>
<button>Cancel</button>
</form>

<form action="fall">
<button>Show all</button> </form>
<form action="fid">
<input type="number" placeholder="Enter id" name="sid">
<button> Fetch by id</button></form>

<form action="del" >
<input type="number" placeholder="Enter id" name="sid">
<button>Delete by id</button>

</form>
<form action="dall">
<button>Delete all
</button>
</form>
</body>
</html>